<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/users/edit" method="post" id="form-container">
        <div class="form-group">
          <label for="firstname">First Name: </label>
          <input class="form-control" id="firstname" type="text" name="firstname" placeholder="First Name" value="<%= user.firstname%>">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name: </label>
          <input class="form-control" id="lastname" type="text" name="lastname" placeholder="Last Name" value="<%= user.lastname%>">
        </div>
        <div class="form-group">
          <label for="address">Address: </label>
          <input class="form-control" id="address" type="text" name="address" placeholder="Address" value="<%= user.address%>">
        </div>
        <div class="form-group">
          <label for="dniNumber">DNI: </label>
          <input class="form-control" id="dniNumber" type="text" name="username" placeholder="DNI Number" value="<%= user.dniNumber%>">
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number: </label>
          <input class="form-control" id="phoneNumber" type="text" name="phoneNumber" placeholder="Phone Number" value="<%= user.phone%>">
        </div>
        <div class="form-group">
          <label for="mail">Email: </label>
          <input class="form-control" id="mail" type="mail" name="email" placeholder="Mail" value="<%= user.email%>">
        </div>
        <div class="form-group">
          <label for="cardNumber">Card Number: </label>
          <input id="cardNumber" class="form-control" type="number" name="cardNumber" maxlength="16" min="0" value="<%= user.cardNumber %>" required>
        </div>
        <div class="form-group">
          <label for="cvv">CVV: </label>
          <input id="cvv" class="form-control" type="number" name="cvv" maxlength="3" min="0" value="<%= user.cardCVV %>" required>
        </div>
        <div class="form-group">
          <label for="expiredDate">Expired Date: </label>
          <input id="expiredDate" class="form-control" type="date" name="expiredDate" value="<%= user.cardExpiredDate %>" required>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity in $: </label>
          <input id="quantity" class="form-control" type="number" name="quantity" step="0.01" min="0" value="<%= user.money %>" required>
        </div>

        <% if (typeof message !== "undefined") { %>
          <div class="error-message">
            <%= message %>
          </div>
        <% } %>

        <button class='btn btn-success'>Edit profile</button>
      </form>
    </div>
  </div>
</div>
