<h2>SHOW USERNAME</h2>
<li><%= user.firstname %></li>
<li><%= user.lastname %></li>
<li><%= user.address %></li>
<li><%= user.dniNumber %></li>
<li><%= user.email %></li>
<li><%= user.inArbitrage %></li>

<a href="/users/delete">Delete User</a>
