<h2>YOUR PROFILE</h2>
<li><b>First Name: </b><%= user.firstname %></li>
<li><b>Last Name: </b><%= user.lastname %></li>
<li><b>Address: </b><%= user.address %></li>
<li><b>DNI: </b><%= user.dniNumber %></li>
<li><b>Email: </b><%= user.email %></li>
<li><b>Include in Arbitrage: </b><%= user.inArbitrage %></li>
<li><b>Available Money: </b><%= user.money %> <b>$</b></li>

<a href="/users/delete">Delete User</a>
